*.d
*.o
*.so
*.a
readline/libhistory.a
readline/libreadline.a
readline/shlib/libhistory.8.2.dylib
readline/shlib/libreadline.8.2.dylib
minishell
*.txt
*.exe
libft.a
a.out
create_lines
create_2000_lines.c
lines.c
macro.sh
.vscode/MiniShell.code-workspace
config.status
